---
const {
    org,
    position,
    startMonth,
    startYear,
    endMonth,
    endYear,
    aim,
    fields,
    tech,
} = Astro.props;
---

<div
    class="text-lg font-normal bg-secondary-black border border-dim-black w-full rounded-md p-4 flex flex-row items-start justify-between"
>
    <div>
        <p class="text-2xl">{org}</p>
        <p class="text-xl text-primary-blue">{position}</p>
        <p class="pt-4">Aim: {aim}</p>
        <p>
            {fields.length > 1 ? "Fields" : "Field"}: {fields.join(", ")}
        </p>
        <p>{tech.length > 1 ? "Techs" : "Tech"}: {tech.join(", ")}</p>
    </div>
    <div class="min-w-[150px] text-right pl-4">
        <p class="text-sm">
            {startMonth.toString().padStart(2, "0")}/{startYear} - {
                endMonth === "Now"
                    ? endMonth
                    : endMonth.toString().padStart(2, "0")
            }{endYear && `/${endYear}`}
        </p>
    </div>
</div>
