---
const {
    org,
    position,
    startMonth,
    startYear,
    endMonth,
    endYear,
    aim,
    fields,
    tech,
} = Astro.props;
---

<div
    class="text-md md:text-lg font-normal bg-secondary-black border border-dim-black w-full rounded-md p-4 flex flex-col items-start justify-center gap-y-2"
>
    <div class="flex flex-row items-start justify-between w-full">
        <p class="text-xl md:text-2xl">{org}</p>
        <p class="text-sm text-right min-w-[150px]">
            {startMonth.toString().padStart(2, "0")}/{startYear} - {
                endMonth === "Now"
                    ? endMonth
                    : endMonth.toString().padStart(2, "0")
            }{endYear && `/${endYear}`}
        </p>
    </div>
    <p class="text-lg md:text-xl text-primary-blue">{position}</p>
    <p class="pt-4">Aim: {aim}</p>
    <p>{fields.length > 1 ? "Fields" : "Field"}: {fields.join(", ")}</p>
    <p>{tech.length > 1 ? "Techs" : "Tech"}: {tech.join(", ")}</p>
</div>
