---
import clsx from "clsx";

interface Props {
    title: string;
    authors?: string[];
    description: string;
    conference: string;
    paperUrl?: string;
    githubUrl?: string;
}

const { title, authors, description, conference, paperUrl, githubUrl } =
    Astro.props;
---

<div class="flex flex-col items-start justify-center">
    <h3 class="text-2xl">{title}</h3>
    {authors && <p>{authors.join(", ")}</p>}
    <p class="py-2">{description}</p>
    <div class="flex flex-row items-center justify-start gap-x-4">
        <p
            class={clsx(
                conference == "TBD" ? "bg-orange-300" : "bg-green-300",
                "px-2 py-1 rounded-lg text-bg-xyn"
            )}
        >
            {conference}
        </p>
        {
            paperUrl && (
                <a
                    href={paperUrl}
                    target="_blank"
                    class="text-blue-xyn underline underline-offset-4"
                >
                    Paper
                </a>
            )
        }
        {
            githubUrl && (
                <a
                    href={githubUrl}
                    target="_blank"
                    class="text-blue-xyn underline underline-offset-4"
                >
                    GitHub
                </a>
            )
        }
    </div>
</div>
