---
const experiences = [
    {
        role: "Founder & CEO",
        organisation: "xynlab",
        startDate: "Jun 2021",
        endDate: "Present",
        responsibilities: [
            "Lead the development of nexliber.com, nxpyre.com, and MLA",
            "Manage a global team of software developers, marketing managers, animators, and open-source contributors",
            "Build full-stack web applications (NexLiber, NXpyre) and deep learning models (MLA)",
        ],
    },
    {
        role: "Web Developer",
        organisation: "EchoClass",
        startDate: "Mar 2022",
        endDate: "Aug 2022",
        responsibilities: [
            "Developed a Next.js full-stack web application with Tailwind CSS, React Context, and Axios",
            "Implemented front-end features based on Figma designs from scratch",
            "Tested existing and newly implemented features in the full-stack web application",
            "Fixed existing design and logic bugs",
            "Mentored new recruits on HTML, CSS, React, Next.js, and Tailwind CSS",
        ],
    },
    {
        role: "Research Intern",
        organisation: "Advanced Remanufacturing and Technology Centre (ARTC)",
        startDate: "Nov 2021",
        endDate: "Jan 2022",
        responsibilities: [
            "Developed intelligent industrial robotic systems with vision sensors and computer vision algorithms",
            "Contributed to an intelligent robotic grasping project using a collaborative robot (UR5), deep neural networks and the Robotic Operating System (ROS) framework",
            "Conducted an independent CNN-based computer vision project for identifying industrial parts from colour images (the project is to be integrated into the team's software stack)",
        ],
    },
];
---

<section class="container">
    <h1 class="title">My Work Experience</h1>
    {
        experiences.map((experience) => (
            <div class="experience">
                <h3 class="role">{experience.role}</h3>
                <h3 class="organisation">{experience.organisation}</h3>
                <sub class="date">
                    {experience.startDate} - {experience.endDate}
                </sub>
                {experience.responsibilities.map((item) => (
                    <p class="responsibilities">- {item}</p>
                ))}
            </div>
        ))
    }
    <a
        href="https://www.linkedin.com/in/nyx-iskandar/"
        target="_blank"
        class="findmore"
    >
        findMore("www.linkedin.com/in/nyx-iskandar") &rarr;
    </a>
</section>

<style>
    .container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        margin-top: 5rem;
    }

    .title {
        margin: 0;
        margin-bottom: -1rem;
        width: 100%;
        font-size: 1.5rem;
        color: #ff6633;
    }

    .experience {
        width: 100%;
        margin-top: 2rem;
        border-left: 1px solid #ff663399;
        padding: 1rem 0;
        padding-left: 1rem;
    }

    .role {
        color: #ff6633;
    }

    .role,
    .organisation {
        margin: 0;
        font-size: 1.2rem;
    }

    .date {
        margin: 0.5rem 0;
        font-size: 0.8rem;
    }

    .responsibilities {
        margin: 1rem 0;
        font-size: 1rem;
    }

    .findmore {
        color: #ff663399;
        text-decoration: none;
        margin: 0;
        margin-top: 1rem;
        transition: 0.15s;
        text-align: center;
        font-size: 1rem;
    }

    .findmore:hover,
    .findmore:focus {
        color: #ff6633;
    }

    @media (max-width: 900px) {
        .container {
            width: 90%;
        }

        .title {
            font-size: 1.2rem;
        }

        .role,
        .organisation {
            font-size: 1rem;
        }

        .responsibilities,
        .findmore {
            font-size: 0.8rem;
        }

        .date {
            font-size: 0.7rem;
        }
    }
</style>
