---
import Link from "./Link.astro";

const { title, venue, authors, links } = Astro.props;
---

<div class="flex items-start justify-center flex-col text-sm gap-y-1">
    <h3 class="font-bold">{title}</h3>
    <p class="text-gray-500">{venue}</p>
    <div class="flex items-center justify-start flex-row gap-x-2 text-gray-500 text-xs flex-wrap">
        {authors.map((a: string, i: number) => (
            <p class={a.includes("Nyx") ? "font-bold" : ""}>{a}</p>
            <>{i !== authors.length - 1 && <p>&#183;</p>}</>
        ))}
    </div>
    <div class="flex items-center justify-start flex-row gap-2">
        {links.map((l: {text: string, url: string}, i: number) => (
            <Link text={l.text} url={l.url} />
            <>{i !== links.length - 1 && <p>&#183;</p>}</>
        ))}
    </div>
</div>
